<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">users</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>
              <p>Nombre</p>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <p>Usuario</p>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <p>Email</p>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let user of users">
          <ion-col>
            <ion-label>
              <p>{{user.name}} {{user.lastname}}</p>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <p>{{user.username}}</p>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <p>{{user.email}}</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
</ion-content>
