<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">users</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="search">
    <ion-item>
      <ion-input [(ngModel)]="searchUserId"></ion-input>
      <ion-button (click)="searchUser(searchUserId)" slot="end">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="clearSearch()" slot="end">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
  <div id="card">
    <ion-card *ngFor="let user of users">
      <ion-card-header>
        <ion-card-title>{{ user.username }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <div>
            <p>Nombre: {{ user.name }} {{ user.lastname }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Edad: {{ user.age }}</p>
          </div>
          <ion-button size="small" fill="clear" (click)="confirmDelete(user.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
